body {
    font-size: 16px;
    background:linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);
}

* {
    font-family: Helvetica, sans-serif;

}

input {
    outline:none;
    border: none;
}

a {
    text-decoration: none;
    color:#5a9ae9;
}

a:hover {
    color: #97b1d1;
}

.container {
    max-width: 32rem;
    width:90%;
    margin: auto;
    min-height: 100vh;
    display:flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}

.wrapper {
    width:100%;
    background:#fff;
    border-radius: 10px;
    display:flex;
    align-content: center;
    text-align: right;
    flex-direction: column;
    justify-content: center;
    flex-wrap:wrap;
    padding: 2.5rem;
}

.form-head {
    text-align: left;
    font-weight: 500;
}

.subtitle {
    text-align: left;
    font-size: 20px;
    color:#848694;
    margin-bottom: 40px;
}

.login-form {
    width:100%;
}

.login-form input {
    font-size:15px;
    width: 100%;
    color:#848694;
    height: 45px;
    border-bottom: 2px solid #abb2e7;
}

.login-form input:focus {
    border-bottom: 2px solid #5c6bdb;
}

.button {
    max-width:10rem;
    width:30%;
    padding: 10px 15px;
    margin-top:35px;
    border: none;
    border-radius: 30px;
    color:#fff;
    font-size:16px;
    background: #5a9ae9;
    cursor:pointer;
}

.button:hover {
    background:#97b1d1;
}

.register {
    margin-top: 15px;
    margin-right: 25px;
    font-size: 15px;
    width: 100%;
}