:root {
    --color1: #FFFFFF;
    --color2: #EAEAEA;
    --color3: #C4C4C4;
    --color4: #000000;
    --fontsize1: 16px;
    --fontsize2: 32px;
    --borderradius1: 16px;
    --borderradius2: 8px;
    --spacing1: 16px;
    --spacing2: 8px;
    --opacity: 0.5;
    --fontweight1: 700;
    --fontweight2: 400;
}

.inputs {
    text-align:center;
    margin:30px auto;
}

.input {
    margin: 0 10px;
}

.panel {
    width: 75%;
    margin: auto;
    border: 1px solid var(--color4);
    border-radius: var(--borderradius1);
    padding: 15px 0;

}

#myList {
    width:97%;
    margin: 0 auto;
}

.dialog {
    margin: 0 20px;
    text-align: center;
    font-size: var(--fontsize1);
    font-weight: var(--fontweight2);
}

#closeDialogButton, #closeDialogButton2 {
    margin: 10px auto;
}

.table {
    margin-top: 15px;
}

.table ui5-table-row{
    text-align:left;
}

#login-form {
    margin:auto;
    text-align:center;
}

#login-form > div {
    display: grid;
    width: 100%;
    margin-bottom: .5rem;
}

#login-form ui5-input {
    margin:auto;
}

#button-submit {
    margin: 5px auto;
    width: 10rem;
}