:root {
    --color1: #FFFFFF;
    --color2: #EAEAEA;
    --color3: #C4C4C4;
    --color4: #000000;
    --fontsize1: 16px;
    --fontsize2: 32px;
    --borderradius1: 16px;
    --borderradius2: 8px;
    --spacing1: 16px;
    --spacing2: 8px;
    --opacity: 0.5;
    --fontweight1: 700;
    --fontweight2: 400;
}

