/*
*
*   Icons From
*   Google Material Icons
*   APACHE LICENSE 2.0
*
*   Colors from
*   Google Material Colors
*   
*/


body {
    font-size: 16px;
    background: linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);
    margin: 0;
    padding: 0;
}

* {
    font-family: Helvetica, sans-serif;

}

input {
    outline: none;
    border: none;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #5a9ae9;
}

a:hover {
    color: #97b1d1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: white;
    display: inline;
}

li {
    height: 100%;
}

hr {
    margin: 0;
    padding: 0;
    opacity: 0.6;
}

.container {
    max-width: 32rem;
    width: 90%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}

.wrapper {
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-content: center;
    text-align: right;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2.5rem;
}

.wrapper-feedback {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.form-head {
    text-align: left;
    font-weight: 500;
}

.subtitle {
    text-align: left;
    font-size: 20px;
    color: #848694;
    margin-bottom: 40px;
}

.login-form {
    width: 100%;
}

.login-form input {
    font-size: 15px;
    width: 100%;
    color: #848694;
    height: 45px;
    border-bottom: 2px solid #abb2e7;
}

.login-form input:focus {
    border-bottom: 2px solid #5c6bdb;
}

.button {
    max-width: 10rem;
    padding: 10px 50px;
    margin-top: 35px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    background: #5a9ae9;
    cursor: pointer;
}

.button:hover {
    background: #97b1d1;
}

.register {
    margin-top: 15px;
    margin-right: 25px;
    font-size: 15px;
    width: 100%;
}

.margin0 {
    margin: 0;
}

.padding0 {
    padding: 0;
}

.title {
    margin-left: 40px;
    font-size: 40px;
    font-weight: 500;

}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.input-box {
    border-radius: 15px;
    background-color: #ECEFF1;
    outline: 0;
}


.search {

    background-image: url('src/images/search_icon.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    margin-right: 40px;
    padding: 8px 20px;
}

.message {
    width: 100%;
    padding: 8px 6px;
}

.flexbox {
    display: flex;
    flex: 1;
}

label {
    width: 80%;
    position: relative;
}

label:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 18px;
    background: url('src/images/message.svg') center / contain no-repeat;
    background-position: 98% 50%;
    opacity: 0.8;
    filter: invert(62%) sepia(63%) saturate(4553%) hue-rotate(150deg) brightness(100%) contrast(101%);
}

.message::placeholder {
    color: #00BCD4;
    opacity: 1;
    padding-left: 10px;
}

.profile {
    background-color: white;
    margin-right: 5px;
    max-width: 18rem;
    width: 45%;
    text-align: center;
}

.profile-image {
    background-image: url('src/images/profile_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.side-profile {
    width: 5.25rem;
    height: 5.25rem;
    margin: 5px auto;
}

.feed-profile {
    width: 2.5rem;
    height: 2.5rem;
}

.post-image {
    width: 3rem;
    height: 3rem;
}

.inner-profile {
    width: 100%;
    background-color: #ECEFF1;
    height: 3.75rem;
}

.btn-log-out {
    width:40% !important;
}

.inner-profile ul {
    height: 3.75rem;
}

.inner-profile ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 25%;
    float: left;
}

.inner-profile ul li div {
    text-align: left;
    font-size: 1.125rem;
    font-weight: 700;
    color: #00BCD4;
}

.socials {
    font-size: 0.75rem;
    color: #607D8B;
}

.feed {
    margin-left: 5px;
    max-width: 55rem;
    width: 50%;
}

.post-container1 {
    height: 3rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
}

.post-container {
    min-height: 7rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
}

.oval-border {
    border: 1px solid #00BCD4;
    border-radius: 30px;
}

.btn {
    max-width: 10rem;
    padding: 8px;
    color: #00BCD4;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
}

.strong {
    font-weight: 700;
}

.post-container {
    padding: 1rem;
    font-size: 0.875rem;
}

.post-inner-container {
    width: 87%;
}

.post-author {
    font-weight: 700;
}

.timer {
    color: #848694;
}

.post-text {
    margin-top: 5px;
    text-align: justify;
}

.rating {
    padding-top: 15px;
    cursor: pointer;
}

.thumbs {
    font-size: 18px;
    vertical-align: middle;
}

.thumbs:hover {
    color: #00BCD4;
}

.close {
    font-size: 18px;
    float: right;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.int-rating {
    padding-right: 40px;
}

@media only screen and (max-width: 890px) {

    .wrapper {
        padding: 3.5rem 2.5rem;
        max-width: 25rem;
    }


    .wrapper-feedback {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;

    }

    .feed {
        margin: 0;
        width: 90%;
    }

    .profile {
        margin: 0;
        max-width: none;
        width: 90%;
    }

    .inner-profile ul li {
        width: 15%;

    }
    .btn-log-out {
        width:30%;
    }
}

@media only screen and (max-width: 500px) {

    label {
        width: 70%;
    }

    .post-inner-container {
        width: 75%;
    }

    .search {
        margin-right:10px;
    }
    .title {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 310px) {

    .timer {
        display: block;
    }

}